#userInput {
    margin-top: 5vh;
    text-align: center;
}

#outputVal{
    font-size: 30px;
    text-align: center;
}

#outputText {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

#creditText {
    text-align: center;
    font-size: 25px;
}

.controls {
    text-align: center;
}